*{
    margin: 0;
    padding: 0;
    text-align: center;
}

html{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

h2{
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    width: 100%;font-weight: 700;
    padding-top: 1rem;
    text-align: center;
    justify-content: center;
}
h4{
    text-align: center;
}
.game{
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem
}
 img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
 }
.choice{
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choice:hover{
    cursor: pointer;
    background-color: #0A0A0A
}
.symb-name{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 12rem;
}

.symb-name .tag-1{
    margin-left: 1rem;
}
.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
}
#user-score , #comp-score{
    font-size: 2.5rem;
    margin: 0.5rem;
    font-weight: 600;
}
#comp-score{
    margin-left: 2rem;
}
.result{
    margin-top: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 8px;
}
.restart{
    cursor: pointer;
    margin-top: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: #050505;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 8px;
}
.restart:hover{
    opacity: 0.5;
}

@media(max-width:665px){
    .game{
        height: 8rem;
        width: 100%;
        gap: 0.7rem;
    }
    .choice{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.4rem;
        width: 6.4rem;
        border-radius: 50%;
    }
    img{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .symb-name{
        margin-top: 0;
        gap: 20%;
        font-style:oblique;
        font-weight: bold;
    }
    .symb-name .tag-1{
        margin-left: 0rem;
    }
    .result{
        font-size: 1rem;
    }
    .restart{
        font-size: 1rem;
    }
    .score-card{
        font-size: 1rem;
    }
}
